<%- include ("../layouts/header.ejs") %>

<div class="container my-4">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mt-4">
        <%= audio.title %>
      </h1>

      <p class="lead">
        by <%= audio.user.name %>
      </p>

      <hr>

      <p>
        Posted on
        <%
          var createdAt = new Date(audio.createdAt);
          var date = createdAt.getDate() + "";
        %>

        <%= date.padStart(2, "0") + " " + months[createdAt.getMonth()] + " " + createdAt.getFullYear() %>
      </p>
      <hr>

      <input type="hidden" id="audioId" value="<%= audio._id %>">
      <input type="hidden" id="genre" value="<%= audio.genre %>">

      <audio id="audioPlayer" controls style="width: 100%;" poster="<%= baseUrl + audio.thumbnail %>" src="<%= baseUrl + audio.filePath %>"></audio>

      <div class="row">
        <div class="col-md-4">
          <p class="mb-0">
            <i class="fa fa-eye"></i>
            <%= audio.views %> plays
          </p>
        </div>
<div class="col-md-4">
  <%- include("like-dislike") %>

</div>
<div class="cold-md-4">
  <%- include("subscribe") %>

</div>
      </div>

      <hr>

      <p class="text-center">
        <b>Genre:</b>
        <%= audio.genre %>
      </p>

      <hr>
<p class="lead">
<%= audio.description %>

</p>
<%- include("comments")%>

    </div>
    <%-include ("side-bar")%>

  </div>
</div>
<%- include ("../layouts/footer.ejs") %> -->
