<%- include ("layouts/header.ejs") %>
<div class="container my-4">
  <div class="row text-center">
    <% audios.forEach(function (audio) { %>
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="<%= audio.thumbnail %>" style="height: 300px; object-fit:cover;">

        <p>
          <%= "0" + audio.minutes + ":" + audio.seconds%>
        </p>

        <div class="card-body">
          <h4 class="card-title">
            <%= audio.title %>
          </h4>

          <p class="card-text">
            <%= audio.genre %>
          </p>
        </div>
        <div class="card-footer">
          <a href="/watch/<%= audio.watch %>" class="btn btn-primary">
            Listen
          </a>
        </div>
      </div>
    </div>
    <% }) %>


  </div>
</div>
<%- include ("layouts/footer.ejs") %>
